[user]
	name = jsta
	email = stachel2@msu.edu
	signingkey = 6C4091DFAC88D465
[core]
	filemode = false
	autocrlf = input
[push]
	default = simple
[credential]
	helper = cache --timeout=10000000
[alias]
	 hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
